<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="gotoporders()">Favorite</ion-button>
    </ion-buttons>
    <ion-title>vieworders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-radio-group [(ngModel)]="Supplier">
    <ion-list-header>
    <ion-label>Supplier</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let sup of suppliers">
    <ion-label>{{sup}}</ion-label>
    <ion-radio slot="start" value={{sup}}></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>All Suppliers</ion-label>
      <ion-radio slot="start" value='All Suppliers'></ion-radio>
      </ion-item>
    </ion-radio-group>
   <ion-list>
   
   <div *ngFor="let order of Orders" (click)="openOrder(order)">
    <div *ngIf="order.delivered==false">
   <ion-item *ngIf="Supplier =='All Suppliers'||Supplier == order.Supname||Supplier == ''" >
   <ion-label>{{order.itemname}}</ion-label>          <ion-label> Q:{{order.total}}</ion-label>
   <ion-button (click)="deliver(order)" color="primary">Delivered? </ion-button>
     </ion-item>
    </div>
  </div>
  </ion-list>


