<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="../../assets/icon/favicon.png" width="40px"  height="40px"/>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="search-outline"></ion-icon></ion-button>
      <ion-button><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
</ion-content>
